/* * {
    border: 1px solid blue;
} */

body {

    font-family: Open Sans;
    font-size: 15px;
    margin: 25px 10px 100px 10px;
}

.page-title {
    font-weight: 555;
    font-size: 30px;
    padding: 0px;
    margin: 0px 0px 45px 25px;
    border-bottom-width: 2px;
    border-bottom-color: #89DEEF;
    border-bottom-style: solid;
}

.customer-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    justify-content: center;
}

.person-block {
    text-align: center;
}

.name {
    margin: 15px 0px 9px 0px;
}

.thumbnail-picture {
    width: 120px;
    height: 150px;
    border-radius: 50% 45%;
    object-fit: cover;
    /* transform: rotate(30deg); */
}

.email {
    margin: 0px 0px 0px 0px;
    color: rgb(92, 90, 90);
}

.address {
    margin: 5px 20px 0px 20px;
}

.date-of-birth {
    margin: 5px 0px 0px 0px;
}

.registered {
    margin: 5px 0px 0px 0px;
}