/* * {
    border: 1px solid blue;
} */

body {
    font-family: Open Sans;
    font-size: 15px;
    color: white;
    margin: 25px 10px 100px 10px;
    background-color: rgb(28, 28, 30);
}

.page-title {
    font-weight: 555;
    font-size: 30px;
    padding: 0px;
    margin: 0px 0px 45px 25px;
    border-bottom-width: 2px;
    border-bottom-color: #b6668d;
    border-bottom-style: solid;
}

.customer-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    justify-content: center;
}

.person-block {
    text-align: center;
}

.name {
    color: black;
    margin: 15px 0px 15px 0px;
    padding-top: 3px;
    background: url(gold_banner.png);
    background-size: 140% auto;
    background-repeat: no-repeat;
    height: 50px;
    background-position: center center;
    opacity: 0.6;
}

.thumbnail-picture {
    width: 120px;
    height: 150px;
    border-radius: 50% 45%;
    object-fit: cover;
    border-style: solid;
    border-color: rgb(187, 161, 76)
}

.email {
    margin: 0px 0px 0px 0px;
    color: rgb(141, 138, 138);
}

.address {
    margin: 5px 20px 0px 20px;
}

.date-of-birth {
    margin: 5px 0px 0px 0px;
}

.registered {
    margin: 5px 0px 0px 0px;
}